# Configuración de correo electrónico
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=reservas.marinatours@gmail.com
MAIL_PASSWORD=tu_password_aqui
MAIL_FROM_ADDRESS=reservas.marinatours@gmail.com
MAIL_FROM_NAME=Hotel Isla Palma
MAIL_ENCRYPTION=tls
MAIL_AUTH_TYPE=LOGIN
