body:not(.datepicker){
    font-family: "Montserrat", sans-serif; 
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

/* container phone number top */

.site-header{
    border-top: 5px solid #d6bd8d;
}
.navbar-top a{
    font-size: 13px;
    color: #d6bd8d;
    font-weight: bold;
}

/* container logo */

.bg-main-color{
    background-color: black;
}

/* container links */

.bg-secondary-color{
    background-color: black;    
}
.header-links-container{
    font-size: 13px;
    padding-top: 10px;
    padding-bottom: 10px;    
}
.nav-scroller{
    border: 2px solid #d6bd8d;
}
.bg-secondary-color nav a{
    color: #fff !important;
}
.header-links-container nav a:hover, .navbar-top a:hover{
    text-decoration: none;
    color: #d6bd8d !important;
    /* font-weight: bold; */
}

/* general container */

.container{
    max-width: 90% !important;
}

/* banner main */

.banner-main{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
              url('../images/descripcion_general.JPG');
    background-size: cover;
    background-position: center;
    padding: 100px 120px;
    color: #fff;
    font-weight: 400;
}
.title-main{
    color: #d6bd8d;
    font-size: 54px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.subtitle-main{
    color: #d6bd8d;
}
.label-main{
    color: gray;
    text-transform: uppercase;
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
}
.border-main{
    padding:20px 0; 
    border-top: 2px solid #d6bd8d; 
    width: 20%; margin: auto; 
    border-bottom: 2px solid #d6bd8d; 
    width: 20%; 
    margin: auto;
    margin-bottom: 50px;
}

/* SECTION */

.section h1, h2, h3, h4, h5, h6{
    font-family: "Bebas Neue", sans-serif;    
    text-transform: uppercase;
}
.section h1{
    font-size: 55px;
    font-weight: 600;
    line-height: 1;
}

/* categories cards */

.categories-body{
    min-height: 400px;
}
.categories-footer{
    /* background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)); */
    color: #fff;    
}

/* call to action */

.call-to-action-btn{
    background-color: #d6bd8d;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

.call-to-action-btn-gold{
    background: linear-gradient(90deg, rgba(127, 98, 59, 1) 0%, rgba(223, 200, 128, 1) 50%, rgba(127, 98, 59, 1) 100%) !important;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: black;
    letter-spacing: 2.2px;
    border-radius: 0;
    border-color: #dab76f;
    border-style: solid;
}

.btn-outline-gold{
    color: black;
    background-color: transparent;
    background-image: none;
    border-color: #d6bd8d;
    border-width: 3px;
    text-transform: uppercase;
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 2.2px;
    color: #0a1d3b;
    padding: 12px 24px;
    border-radius: 3px;
}

.btn-outline-white{
    color: black;
    background-color: white;
    background-image: none;
    border-color: #fff;
    border-width: 3px;
    text-transform: uppercase;
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 2.2px;
    color: #0a1d3b;
    padding: 12px 24px;
    border-radius: 3px;
}

.service-body-right{
    padding: 30px;
    border-style: solid;
    border-color: #f4efeb;
    margin-top: 20px; 
    margin-left: -50px; 
    padding-left: 70px;
}

.service-body-left{
    padding: 30px;
    border-style: solid;
    border-color: #f4efeb;
    margin-top: 20px; 
    margin-right: -50px; 
    padding-right: 70px;
}

.gallery-service{
    z-index: 1;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
[class*='mySlides'] {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* service resume */

.service-resume-title{
    font-family: "Montserrat", sans-serif !important;
    letter-spacing: 2.2px;
    color: #fff;
    font-size: 20px !important;
    text-shadow: 1px 1px 2px #000000;
    line-height: 1.3 !important;
}
.card-service-resume{
    height: auto;
    min-height: 300px;
    max-height: 600px;
}
.card-service-resume .card-header{
    /* backdrop-filter: blur(10px) saturate(70%); */
    background-color: transparent !important;
    border: none !important;
}

.service-resume-footer{
    /* background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)); */
    backdrop-filter: blur(10px) saturate(70%);
}
.service-resume-footer button{
    font-family: "Montserrat", sans-serif !important;
    letter-spacing: 2.2px;
    color: #fff;
    font-size: 18px !important;
    border-radius: 0%;
    /* padding: 15px; */
    font-weight: 600;
}

.card{
    border-radius: 0% !important;
}

footer{
    color: #fff;
}

a:hover{
    color: inherit;
}

/* responsive */

@media (max-width: 767.98px) { 

    .categories-body{
        min-height: 250px;
    }

    .banner-main{
        padding: 70px 20px;
        text-align: center;
    }
    .border-main{        
        width: 80%; 
    }
    .service-body-left, .service-body-right {
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
        text-align: center;
    }

    .site-header{
        margin-top: 60px;
    }

}

footer .nav-link {

    text-transform: uppercase;
    font-size: 14px;

}
/* masonry gallery */

.masonry { /* Masonry container */
    -webkit-column-count: 4;
    -moz-column-count:4;
    column-count: 4;
    -webkit-column-gap: 1em;
    -moz-column-gap: 1em;
    column-gap: 1em;
    margin: 1.5em;
    padding: 0;
}

.masonry { /* Masonry container */
    -webkit-column-count: 4;
  -moz-column-count:4;
  column-count: 4;
  -webkit-column-gap: 1em;
  -moz-column-gap: 1em;
  column-gap: 1em;
   margin: 1.5em;
    padding: 0;
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    column-gap: 1.5em;
    font-size: .85em;
}
.item {
    display: inline-block;
    /* background: #fff;
    padding: 1em; */
    margin: 0 0 1.5em;
    width: 100%;
	/* -webkit-transition:1s ease all;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow: 2px 2px 4px 0 #ccc; */
}
.item img{max-width:100%; height: auto;}

@media only screen and (max-width: 320px) {
    .masonry {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

@media only screen and (min-width: 321px) and (max-width: 768px){
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}
@media only screen and (min-width: 769px) and (max-width: 1200px){
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}
@media only screen and (min-width: 1201px) {
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}
.description-service{
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden
}
.description-service:hover{
    display: block;
    height: auto;
    /* transition: display 2s; */
}